Flask
Flask-SQLAlchemy
Flask-Cors
APScheduler
python-dateutil
Flask-Bcrypt
Flask-JWT-Extended
Flask-Limiter
Werkzeug
gunicorn
waitress
requests
pywebpush
pytest
Flask-Migrate
psycopg2-binary
cryptography
stripe
itsdangerous
boto3
librouteros
playwright
sentry-sdk[flask]==2.19.0
